//Alert/toast

//toast fim

ion-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

ion-row {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

ion-item {
    margin-bottom: 10px;
}

.but {
    display: flex;
    justify-content: center;
}

ion-button {
    width: 100%;
    margin-top: 25px;
    margin-left: 10px;
}

.create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    font-family: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
